<p id="notice"><%= notice %></p>

<h1>Public Posts</h1>
<% @public_posts.each do |post| %>
<div class="panel panel-success">
 <div class="panel-heading">Published by <%= author(post) %> <%= time_ago_in_words(post.created_at)%> Ago</div>
<div class="panel-body">
<%= image_tag post.image_file.thumb.url, class: "img", style: "float:left;margin-right:10px"%>
<p>
<%= post.body %>
</p>
</div>
 <div class="panel-footer clearfix">
   <span class="glyphicon glyphicon-user"></span>
   by <%= post.user.email %>
 </div>
</div>
<%end %>
<br/>