<p id="notice"><%= notice %></p>

<h1>Public Posts</h1>
<% @public_posts.each do |post| %>
<article>
<%= image_tag post.image_file.thumb.url, class: "img", style: "float:left;margin-right:10px"%>
<p>
<%= post.body %>
</p>
</article>
<%end %>
<br/>
<!-- 
<table style="width:200px%">
  <tbody>
    <% @public_posts.each do |post| %>
      <tr>
        <td>
        <div>
        <%= post.body %>
        </div>
        <div><%= image_tag post.image_file.thumb.url %></div>
        <%= post.user.email %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table> -->